html {
  background: url(Babalufya.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

body {
  height:  100%;
  margin: 0;
  text-align: center;
  width: 100%;
  }

h1 {
  color: DeepSkyBlue;
  font-family:Helvitica, serif;
  hover:
    background-color: green;
  
}

h4 {
  color: AntiqueWhite;
  font-family: Helvitica, serif;
  hover:{
    background-color: green;
  }
}
  
p {
    color: Fuchsia;
 hover:{
    background-color: green;
  }
}  

  
