html {
  background: url(animal-dawn-desktop-backgrounds-875858.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

header {
  color: AntiqueWhite;
  font-family:Helvitica, serif;
  text-align: center;
}

header:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
}

#ContactInfo:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
}

#ContactInfo {
  text-align: right;
  color: AntiqueWhite;
  font-family: Helvitica, serif;
}
  
#Introduction:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
}
      
#Introduction {
  text-align: center;
  color:  AntiqueWhite;
  font-family: Helvitica, serif;
}
  
p:hover {
    background-color: Purple;
    color: DeepSkyBlue;
}

p {
    color: Purple;
}  

  
