html {
  background: url(animal-dawn-desktop-backgrounds-875858.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

#pic {
  float: right;
  height: 240px;
  width: 240px;
  margin-right: 80px;
}

.myVid {
  margin-left: 80px;
  float: center;
  height: 240px;
  Width:  320px;
  
}

header {
  color: AntiqueWhite;
  font-family:Helvitica, serif;
  text-align: center;
}


header:hover {
    color: #33bbff;
    transform: rotate(180deg);
    font-size: 69pt; /*ayylmao*/
    font-family:symbol;
}


#ContactInfo {
  text-align: right;
  color: #e6e6e6;
  font-family: Helvitica, serif;
}

#Title {
  border: 0px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
  color:#e6e6e6;
}

#Introduction {
  border: 0px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 30px;
  text-align: center;
  color:black;  
}

#proffesionalexp {
  border: 0px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 30px;
  text-align: left;
  color:black;
}
          
.job {
  border: 2px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 30px;
  text-align: left;
  color:black ;
  
}

p:hover {
    background-color: #db4dff;
    color:  #ffff66;
}

p {
    color: Purple;
    font-size: 2pt;
}  
