html {
  background: url(Babalufya.jpg) 
  background-size: auto;
  overflow: hidden;
}

header {
  color: Purple;
  font-family:Helvitica, serif;
}

header:hover {
    background-color: Purple;
    color: Yellow;
}

#ContactInfo:hover {
    background-color: Purple;
    color: Yellow;
}

#ContactInfor {
  color: Purple;
  font-family: Helvitica, serif;
}
  
#me:hover {
    background-color: Purple;
    color: Yellow;
  
#me {
  color: Purple;
  font-family: Helvitica, serif;
}
  
p:hover {
    background-color: Purple;
    color: Yellow;
}

p {
    color: Purple;
}  

  
