html {
  background: url(animal-dawn-desktop-backgrounds-875858.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#pic {
  float: right;
}

header {
  color: AntiqueWhite;
  font-family:Helvitica, serif;
  text-align: center;
}

header:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
    transform: rotate(180deg);
}

#ContactInfo {
  text-align: right;
  color: AntiqueWhite;
  font-family: Helvitica, serif;
}

#Introduction {
  border: 0px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: left;
  color:black ;
}

#proffesionalexp {
  border: 0px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: left;
  color:black ;
}
          
.job {
  border: 2px solid AntiqueWhite;
  margin-top: 1px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 30px;
  text-align: left;
  color:black ;
  
}

p:hover {
    background-color: Purple;
    color: DeepSkyBlue;
}

p {
    color: Purple;
}  


  
