html {
  background: url(animal-dawn-desktop-backgrounds-875858.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

header {
  color: AntiqueWhite;
  font-family:Helvitica, serif;
  text-align: center;
}

header:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
    transform: rotate(180deg);
}

#ContactInfo {
  text-align: right;
  color: AntiqueWhite;
  font-family: Helvitica, serif;
}
  
#Introduction:hover {
    background-color: AntiqueWhite;
    color: DeepSkyBlue;
}
        
.job {
  text-align: left;
  color: Purple;
  
}

p:hover {
    background-color: Purple;
    color: DeepSkyBlue;
}

p {
    color: Purple;
}  

  
